{% extends 'base.html.twig' %}

{% block title %}Edit Config{% endblock %}

{% block body %}
    <div class="main">
        <h1 class="text-center mt-5">Edit config</h1>

        <div class="form text-center">
            {{ form_start(form) }}
            <div class="mb-3">
                <div class="form-label">{{ form_label(form.value, 'Name ', {'label_attr': {'class': 'foo'}}) }}</div>
                {{ form_errors(form.value) }}
                <div class="form-control">{{ form_widget(form.value) }}</div>
                {{ form_help(form.value) }}
            </div>
            <div class="text-center mt-2">
                <button class="btn bnt-bleu text-light">{{ button_label|default('Save') }}</button>
            </div>
            {{ form_end(form) }}
            <div class="text-center mt-2">
                <button type="button" class="btn bnt-bleu"><a href="{{ path('app_main') }}" class="text-decoration-none text-light">Back to menu</a></button>
            </div>
        </div>
    </div>
{% endblock %}
