{% extends 'base.html.twig' %}

{% block title %}Config index{% endblock %}

{% block body %}
    <div class="main">
        <div class="container-fluid">

            <h1 class="mt-5">Config index</h1>

            <script src=" {{ asset('js/table-local.js') }}"></script>
            <script src=" {{ asset('js/bootstrap-table.js') }}"></script>
            <script src=" {{ asset('js/toolbar-table.js') }}"></script>
            <script src=" {{ asset('js/multiple.js') }}"></script>

            <table
                    data-toggle="table"
                    id="table"
                    data-toolbar="#toolbar"
                    data-locale="en-US"
                    data-search="true"
                    data-advanced-search="true"
                    data-id-table="advancedTable"
                    data-show-toggle="true"
                    data-show-fullscreen="true"
                    data-show-columns="true"
                    data-show-columns-toggle-all="true"
                    data-show-multi-sort="true"
                    data-sort-class="bandwidth_mb"
                    data-minimum-count-columns="2"
                    data-show-pagination-switch="true"
                    data-pagination="true"
                    data-page-list="[10, 25, 50, 100, all]"
                    data-show-footer="true"
                    data-response-handler="responseHandler"
                    class="text-center"
            >
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Value</th>
                    <th>Edit</th>
                </tr>
                </thead>
                <tbody>
                {% for config in configs %}
                    <tr>
                        <td>{{ config.id }}</td>
                        <td>{{ config.name }}</td>
                        <td>{{ config.value }}</td>
                        <td>
                            <a href="{{ path('app_config_edit', {'id': config.id}) }}"><i class="fas fa-pencil-alt"></i></a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="4">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <div class="text-center mt-5">
               <button type="button" class="btn bnt-bleu"><a href="{{ path('app_main') }}" class="text-decoration-none text-light">Back to menu</a></button>
            </div>
        </div>
    </div>

    <script>
        $(function() {
            $('#table').bootstrapTable()
        })
    </script>
{% endblock %}
